# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.DS_Store
Pico_TFT_Combiner_Board/Pico_TFT_combiner.kicad_pcb-bak
Pico_TFT_Combiner_Board/Pico_TFT_combiner.sch-bak
